  <h3 class="left">2019</h3>
  <p class="left">
    <a href="/projects/liminal.html" alttext="liminal">liminal</a>
    <a href="/projects/RICHARD.html" alttext="RICHARD is an Artist">RICHARD is an Artist</a>
    <a href="/projects/artifact_cupcake.html" alttext="Artifact Cupcake">Artifact Cupcake</a>
  </p>
  <h3 class="left">2018</h3>
  <p class="left">
    <a href="/projects/tilly.html" alttext="Tilly">Tilly</a>
    <a href="/projects/meaningful_registration.html" alttext="Meaningful Registration">Meaningful Registration</a>
    <!--<a href="/projects/tillyAndTelly.html" alttext="Tilly and Telly">Tilly and Telly</a>-->
    <a href="/projects/simulated_video.html" alttext="simulated video project">simulated video</a>
    <!--<a href="/projects/arexperimentfour.html" alttext="AR Experiment 4">AR Experiment 4</a>
    <a href="/projects/oeoe_club.html" alttext="Oeoe club">Oeoe Club</a>
    <a href="/projects/arexperimentthree.html" alttext="AR Experiment 3">AR Experiment 3</a>-->
  </p>
  <h3 class="left">2017</h3>
  <p class="left">
    <a href="/projects/virtualRealities.html" alttext="Virtual Realities">Virtual Realities</a>
    <a href="/projects/polygardens.html" alttext="Polygardens">Polygardens</a>
    <a href="/projects/KOCMOHaBTSpaceman.html" alttext="KOCMOHaBT Spaceman">KOCMOHaBT Spaceman</a>
  </p>
  <h3 class="left">2016</h3>
  <p class="left">
    <a href="/projects/daydreamBlue.html" alttext="Daydream Blue">Daydream Blue</a>
    <!--<a href="/projects/wildWestVirtualReality.html">Wild West of Virtual Reality</a>-->
  </p>
  <h3 class="left">2015</h3>
  <p class="left">
    <a href="/projects/dTR360.html">Deluxe Turbo Racing 360</a>
    <a href="/projects/rulesAndPlay.html">Rules & Play</a>
    <a href="/projects/inWhite.html">In White</a>
    <a href="/projects/samStone.html">Sam Stone</a>
  </p>
  <h3 class="left">2014</h3>
  <p class="left">
    <a href="/projects/ppp.html">Peter Padder Pauleypop</a>
    <a href="/projects/aristocratsAndAmphibians">Aristocrats & Amphibians</a>
    <a href="/projects/aHorseWithTwoNames">A Horse with Two Names</a>
  </p>
  <h3 class="left">2013</h3>
  <p class="left">
    <a href="/projects/whereThereforeWeGo.html">Where therefore we go</a>
    <!--<a href="/projects/breakingIntoIndieGames.html">Breaking into Indie Games</a>-->
    <a href="/projects/audioSource.html">Audio Source</a>
    <!--<a href="/projects/discoveryNight.html">Discovery Night Artist Talk</a>-->
    <a href="/projects/mondri.html">mondris</a>
  </p>
  <h3 class="left">2012</h3>
  <p class="left">
    <!--<a href="/projects/studio300.html">Elephants Paint and Dogs Play Games</a>-->
    <!--<a href="/projects/indieCadePanel.html">IndieCade Audio Panel</a>-->
    <a href="/projects/openSource.html">Open Source</a>
  </p>
  <h3 class="left">2011</h3>
  <p class="left">
    <a href="/projects/indirection.html">Indirection</a>
    <!--<a href="/projects/artProfessions.html">Art professions Talk</a>-->
  </p>
  <h3 class="left">2010</h3>
  <p class="left">
    <a href="/projects/ARTiculation.html">ARTiculation</a>
    <a href="/projects/IVE.html">IVE</a>
    <a href="/projects/shaderProjector.html">Shader Projections</a>
    <a href="/projects/baseballTrainer.html">Basball Virtual Trainer</a>
    <a href="/projects/shadowMachine.html">Shadow Machine 1</a>
  </p>
  <h3 class="left">2009</h3>
  <p class="left">
    <a href="/projects/ralph.html">Ralph</a>
    <a href="/projects/fairyTale.html">A Fairy Tale Revisited</a>
    <a href="/projects/recontextualization.html">Re:contextualization</a>
  </p>
  <h3 class="left">Early Work</h3>
  <p class="left">
    <a href="/projects/earlyWork.html">Early Work</a>
  </p>
