---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "variables";
@import "bootstrap/bootstrap";
@import "syntax-highlighting";
@import "bootstrap-4-jekyll/bootstrap-4-jekyll";
@import "bootstrap_customization";

//Navibar///////////////////////////////////

.navbar {
    justify-content: flex-start;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
    width: 225px;
}

.navbar-static-top {
  background-color:#000000;
}

.navbar-brand {
  color:#fff;
  font-size: 1rem;
  //padding-right: 1rem;
}

.navbar-name {
  color:#fff;
  font-size: 1.25rem;
}

.navbar li {
  padding: 0em 1vw 0em 1vw;
}

/////////////////////////////////////////////

//Footer/////////////////////////////////////

footer {
  font-size: 1.5rem;
  padding: 10px;
  background-color:#219c58;
}

footer .h6 {
  color: #fff;
  margin: 10px 0px 5px 0px;
}

footer hr {
  color: #fff;
}

/////////////////////////////////////////////

//Home page//////////////////////////////////

.home {
    //margin-top: 0px;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    color: #f1f1f1;
    background-color: #1afb89d6;
}

.home-cv {
  //margin-top: 0px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  width: 400;
}

.home-projects {
  //margin-top: 0px;
  position: fixed;
  bottom: 10;
  right: 0;
  padding: 20px;
}

.top-right {
  position: fixed;
  top: 20;
  right: 20;
  padding: 20px;
  width: 60%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.7);
  line-height: 100%;
  font-size: clamp(1rem, 2.5vw, 3em);
  max-width: 40vw;
  word-wrap: break-word;
}

.top-right .home-centered {
  top: 50%;
  width: 100%;
}

.top-right-home-container {
  text-align: center;
  color: white;
}

.bottom-left {
  position: fixed;
  bottom: 30;
  left: 10;
  padding: 20px;
  width: 50%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.7);
  line-height: 100%;
  font-size: clamp(1rem, 2.5vw, 3em);
  max-width: 40vw;
  word-wrap: break-word;
}

.bottom-left .home-centered {
  top: 50%;
  width: 100%;
}

.home-cv a {
  color: #f1f1f1;
  font-size: 12rem;
}

.home-projects a {
  color: #f1f1f1;
  font-size: 8rem;
}

// Alignment
/* Centered text */
.home-centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Container holding the image and the text */
.home-container {
  position: relative;
  text-align: center;
  color: white;
  background-color: #000000e8;
}

#home_video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.home h1 {
  font-family: 'Yantramanav', sans-serif;
  font-size: 96px;
}

.home h1 a {
  //color: #373a3c;
  color: #f1f1f1;
  display:inline;
}

/* Define the styles for the black rectangle */
.black-rectangle {
  position: absolute; /* Position the element absolutely */
  top: 400px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the left position as needed */
  width: 100%; /* Set the width of the rectangle */
  height: 130px; /* Set the height of the rectangle */
  background-color: black; /* Set the background color to black */
}

/////////////////////////////////////////////

body {
  //padding-top: 10px;
  //padding-bottom: 25px;
  font-size: 18px;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

.card-body {
  padding: .2rem;
  background-color: #eee;
}

.card-title {
  font-size: .9rem;
  margin: 0rem;
  color: #555;
}

.containerLeft {
  //margin-top: 20px;
  //margin-left: 20px;
}

.justify-center {
  justify-content: center;
}

.embed-responsive {
  margin-bottom: 25px;
}

.spacing-small {
  padding-top: 50px;
}

.spacing-small {
  padding-top: 50px;
}

.spacing-large {
  padding-top: 100px;
}

#scrollable {
  height: 625px;
  overflow: auto;
}

.huge-font {
  font-size: 84px;
  color: #373a3c;
}

.kinda-huge-font {
  font-size: 48px;
  color: #373a3c;
}

h3 {
  margin-top: 0px;
}

h3.left {
  margin: 0px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 20px;
  line-height: 1.75;
  color: #373a3c;
  background-color: #eee;
}

p.left {
  margin: 0px;
}

.videoFormat {
  padding-left: 0px;
  padding-bottom: 20px;
}

.alternate {
  background-color: #EEE;
}

hr {
  border-top: 1px solid #AAA;
}

a {
    color: #445;
    display: block;
}

a:hover {
  color: #999;
}

.left a{
    font-size: 18px;
    line-height: 24px;
}

.right {
  padding-top: 5px;
  padding-bottom: 10px;
}

.right p {
  padding-bottom: 20px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  padding: 25px 0px 10px 0px;
}

.haikuContainer {
  background-color: #373a3c;
  padding: 10px;
  max-width: 250px;
}

.haikuContainer h4{
  color: #eee;
  font-size: .9em;
}

.haikuContainer a{
  color: #eee;
  font-size: .8em;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.shader canvas {
  //border: 1px solid gray;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  pointer-events: none
}

.gif {
  padding: 10px;
}



@media (max-width: 768px){
  .hide-on-mobile {
     display: none;
   }

   .huge-font {
     margin-left:-20px;
   }
}

@media (min-width: 769px) {
  .hide-on-desktop {
     display: none;
   }

   .right {
     width: 75%;
   }

   .huge-font {
     font-size: 224px;
     margin-top:-50px;
     margin-left:-80px;
     color: #373a3c;
   }

   .sqrImages {
     max-width: 65%;
   }

   #scrollable {
     margin-left: 5px;
   }
}

@media (max-width: 768px) {
  .home-mobile-stack {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .home-mobile-stack > div {
    position: static !important;
    width: 100%;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    text-align: center;
  }

  .home-cv,
  .home-projects,
  .top-right,
  .bottom-left {
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 200px;
  }

  .home-cv .home-centered,
  .home-projects .home-centered {
    position: static !important;
    transform: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: clamp(2rem, 10vw, 8rem);
  }

  .top-right .home-centered,
  .bottom-left .home-centered {
    position: static !important;
    transform: none !important;
    padding: 1rem;
    font-size: clamp(1.2rem, 5vw, 2rem);
  }

    .top-right,
  .bottom-left {
    position: relative !important;
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    box-sizing: border-box;
    min-height: 150px;
    color: #fff;
  }

.top-right-home-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  line-height: 125%;
}

  .home-cv a {
    text-decoration: none;
    color: #f1f1f1;
    font-size: inherit;
  }

  .home-projects h1 {
    margin: 0;
    font-size: inherit;
  }

  .home-projects a {
    text-decoration: none;
    color: #f1f1f1;
    font-size: clamp(4rem, 12vw, 8rem);
  }

  .home-projects {
  position: relative !important;
  width: 100%;
  min-height: 200px;
  padding: 2rem;
  text-align: center;
}

.home-projects .home-container {
  position: relative;
}

.home-projects .home-centered {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 100%;
  text-align: center;
  font-size: clamp(2rem, 12vw, 6rem);
  color: #f1f1f1;
  z-index: 2;
}

  .home-cv .home-centered {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  font-size: clamp(8rem, 15vw, 12rem);
  width: 100%;
  text-align: center;
  color: #f1f1f1;
  z-index: 2;
}

.home-container {
  position: relative;
}

}

