<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/blog.css">
</head>

<div class="main">
    <div class="blog col-md-6 offset-md-3 col-12 px-4">
        {{ content }}
    </div>
</div>

<div class="menu_button">
    <img src="{{ site.baseurl }}/images/fridays2020/menu.gif" alt="still life of the sun">
</div>
